body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* jest overflow przez właściwości clip-path. 
    Ta właściwość określa obszar, który ma być widoczny, 
    a wszystko poza nim zostanie ukryte. Jednakże, ponieważ 
    elementy mają różne wartości left i right, które wysuwają je 
    poza granice .main-container, nadmiar treści będzie 
    wykraczał poza te granice i spowoduje overflow na osi x.*/
    overflow-x: hidden;
}

.main-container {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(#8E55DA ,#793FB0, #5A2887 60%,#4F2684 70%, #3D207A 80%, #2B196B, #211867);
    position: relative;
}

.mountain {
    width: 0;
	height: 0;
    position: absolute;
    bottom: 0;
}

.m1 {
    height: 500px;
    width: 650px;
    clip-path: polygon(0% 100%, 50% 0%, 110% 110%);
    background-image: linear-gradient(
        rgba(33, 24, 103, .5) 17%, 
        rgba(33, 24, 103, .6) 20%, 
        rgba(33, 24, 103, .7) 25%, 
        rgba(33, 24, 103, .8) 34%, 
        rgba(33, 24, 103, .9) 40%, 
        rgba(33, 24, 103, 1) 48%);
    left: -70px;
}

.m2 {
    height: 560px;
    width: 700px;
    clip-path: polygon(0% 100%, 50% 0%, 110% 110%);
    background-image: linear-gradient(
        rgba(33, 24, 103, .5) 10%,
        rgba(33, 24, 103, .3) 20%,
        rgba(33, 24, 103, .1) 30%,
        rgba(33, 24, 103, 0) 38%);
    left: -300px;
}

.m3 {
    height: 400px;
    width: 600px;
    clip-path: polygon(0% 100%, 50% 0%, 110% 110%);
    background-image: linear-gradient(
        rgba(33, 24, 103, .5) 10%, 
        rgba(33, 24, 103, .7) 15%, 
        rgba(33, 24, 103, .8) 18%, 
        rgba(33, 24, 103, .9) 20%, 
        rgba(33, 24, 103, 1) 30%);
    left: -250px;
}

.m4 {
    height: 600px;
    width: 750px;
    clip-path: polygon(0% 100%, 50% 0%, 110% 110%);
    background-image: linear-gradient(
        rgba(33, 24, 103, .5) 20%,
        rgba(33, 24, 103, .3) 40%,
        rgba(33, 24, 103, .1) 50%,
        rgba(33, 24, 103, 0) 60%);
    left: 80px;
}

.m5 {
    height: 650px;
    width: 900px;
    clip-path: polygon(0% 100%, 50% 0%, 110% 110%);
    background-image: linear-gradient(
        rgba(33, 24, 103, .5) 20%, 
        rgba(33, 24, 103, .7) 40%, 
        rgba(33, 24, 103, .8) 50%, 
        rgba(33, 24, 103, .9) 55%); 
    left: 270px;
}

.m6 {
    clip-path: polygon(0% 100%, 50% 0%, 110% 110%);
}

.m7 {
    height: 600px;
    width: 800px;
    clip-path: polygon(0% 100%, 50% 0%, 110% 110%);
    background-image: linear-gradient(
        rgba(33, 24, 103, .5) 10%, 
        rgba(33, 24, 103, 0.7) 20%, 
        rgba(33, 24, 103, .8) 25%, 
        rgba(33, 24, 103, .9) 30%, 
        rgba(33, 24, 103, 1) 40%);
    right: 210px;
    z-index: 2;
}

.m8 {
    height: 530px;
    width: 750px;
    clip-path: polygon(0% 100%, 50% 0%, 110% 110%);
    background-image: linear-gradient(
        rgba(33, 24, 103, .6) 3%,
        rgba(33, 24, 103, .5) 5%,
        rgba(33, 24, 103, .4) 7%,
        rgba(33, 24, 103, .3) 10%,
        rgba(70, 30, 130, .8) 15%,
        rgba(72, 32, 130, 1) 20%,
        rgba(77, 36, 130, 1) 90%);
    right: -30px;
}

.m9 {
    height: 660px;
    width: 900px;
    clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
    background-image: linear-gradient(
        rgba(33, 24, 103, .6) 10%,
        rgba(33, 24, 103, .4) 20%,
        rgba(70, 30, 130, .8) 26%,
        rgba(72, 32, 130, 1) 30%,
        rgba(77, 36, 130, 1) 90%);
    right: -280px;
}

.m10 {
    height: 450px;
    width: 600px;
    clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
    background-image: linear-gradient(
        rgba(33, 24, 103, .5) 10%, 
        rgba(33, 24, 103, .7) 20%, 
        rgba(33, 24, 103, .8) 30%, 
        rgba(33, 24, 103, .9) 40%, 
        rgba(33, 24, 103, 1) 48%);
    right: -150px;
}

.circle {
    width: 51px;
    height: 51px;
    border-radius: 50%;
    background-color: rgb(255, 255, 253);
    position: absolute;
    top: 415px;
    right: 325px;
    box-shadow: 0 0 2px rgb(255, 255, 253);
}

.arrow {
    width: 30px;
    height: 7px;
    background-color: rgba(45, 62, 80);
    position: absolute;
    border-radius: 7px;
    top: 25px;
    left: 2px;
}

.a1 {
    transform: rotate(45deg);
}

.a2 {
    transform: rotate(-45deg);
    left: 19px;
}

.user-icon {
    position: absolute;
    width: 15px;
    height: 6px;
    background-color: #22303D;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-radius: 6px 6px 0 0;
    top: 597px;
    left: 150px;
    z-index: 2;
}

.user-icon::before {
    display: block;
    content: "";
    position: absolute;
    top: -15px;
    right: 2px;
    height: 8px;
    width: 8px;
    border: 2px solid white;
    border-radius: 50%;
    background-color: #22303D;
    z-index: 1;
}

.password-icon {
    position: absolute;
    height: 11px;
    width: 9px;
    border: 2px solid white;
    border-radius: 50%;
    background-color: #22303D;
    top: 637px;
    left: 153px;
    z-index: 3;
}

.password-icon::before {
    display: block;
    content: "";
    position: absolute;
    width: 17px;
    height: 10px;
    background-color: #22303D;
    border: 2px solid white;
    border-radius: 4px;
    top: 6px;
    right: -6px; 
}

.login-card {
    width: 700px;
    height: 800px;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    z-index: 3;
    box-shadow: 5px 15px 50px rgba(28, 20, 83, .9), 
                -5px 15px 50px rgba(28, 20, 83, .9),
                0 20px 30px -10px rgb(11, 8, 31);
}

.login-container {
    height: 325px;
    background-color: rgb(45, 62, 80);
    padding-top: 45px;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.login-title {
    color: white;
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.login-input {
    width: 350px;
    height: 30px;
    background-color: #22303D;
    border: 1px solid rgba(255, 255, 255, .2);
    border-radius: 20px;
    color: white;
    position: relative;
    box-shadow: 3px 3px 10px #1b2731;
    padding: 3px 40px;
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    letter-spacing: 1px;
}

.login-options {
    display: flex;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    align-items: center;
    justify-content: space-between;
    width: 410px;
    font-weight: 200;
}

.landscape {
    height: 440px;
    background-image: linear-gradient(
        #211867 10%, 
        #2B196B 20%,  
        #3D207A 30%, 
        #47227F 50%,
        #4F2684 60%,
        #663092);
}